body,
html {
  overflow: hidden;
  height: 100%;
  margin: 0;
  background-color: #343a40;
}

/*********************  Navbar  *******************************/
.fixed-sidebar {
  height: 100%;
  overflow-y: auto;
  position: fixed;
  width: 18%;
  background-color: #010101;
  z-index: 1030;
}

.chat-content {
  margin-left: 20%;
  height: 100%;
  overflow-y: auto;
}

.navbar-fixed-top {
  background-color: #343a40;
  z-index: 1010;
}

/*********************  Chats  *******************************/
.main-content {
  display: flex;
  margin: auto;
}

#messages {
  margin-top: 3%;
  width: 80%;
  height: 100vh;
  overflow-y: auto;
  margin-left: 20%;
  overflow: auto;
  padding-right: 2%;
  padding-bottom: 8%;
  display: flex;
  flex-direction: column;
}

.ai-messages-container {
  display: flex;
  margin-bottom: 10px;
}

.user-message {
  background-color: #000000;
  color: #ffffff;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.gemini-message,
.gpt3_5-message {
  width: 49.5%;
  background-color: #000000;
  color: white;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.chat-input-container {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-left: 0;
  width: 100%;
  background-color: #343a40;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*********************  Message BoxBox..  *******************************/
/*********************  Message Sender  *******************************/
.chat-container {
  width: 60%;
}

.button-color {
  background-color: #00C5C8;
  color: white;
}

.button-color:hover {
  background-color: #00C5C8;
  color: white;
}

.prompt-input {
  height: 50px;
  background-color: #343a40;
  color: white;
  border: 1px solid lightgray;
  resize: none;
  overflow-y: auto;
  font-size: 18px;
}

.prompt-input::placeholder {

  color: lightgray;
}

.prompt-input:focus {
  background-color: #343a40;
  color: white;
  outline: none;
  border: 1px solid #ffffff;
  box-shadow: none;
}

.prompt-send {
  border: 1px solid lightgrey;
  height: 50px;
}

.send-icon {
  width: 20px;
  height: 20px;
}

/*********************  Hi, Name  *******************************/
.no-chat-selected {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  color: #ccc;
}

.text-color-h {
  color: #00c5c8;
}
/*********************  Sidebar  *******************************/
.chat-item {
  display: flex;
  justify-content: flex-start;
}

.rename-input {
  margin-left: auto;
  margin-right: 10px;
  width: 100%;
}

.rename-btn {
  flex-shrink: 0;
}

.settings-button {
  background-color: transparent;
  border: none;
  padding-left: 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: gray;
}
/* Loader */
.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
