<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/fav.png">
    <title>Page Not Found</title>
    <!-- bootstrap min css -->
    <link rel="stylesheet preload" href="{{url_for('static', filename='css/plugins/fontawesome-6.css')}}" as="style">
    <link rel="stylesheet preload" href="{{url_for('static', filename='css/plugins/unicons.css')}}" as="style">
    <link rel="stylesheet preload" href="{{url_for('static', filename='css/plugins/swiper.min.css')}}" as="style">
    <link rel="stylesheet preload" href="{{url_for('static', filename='css/vendor/metismenu.css')}}" as="style">
    <link rel="stylesheet preload" href="{{url_for('static', filename='css/vendor/bootstrap.min.css')}}" as="style">
    <!-- custom css style -->
    <link rel="stylesheet preload" href="{{url_for('static', filename='css/style.css')}}" as="style">
</head>

<body class="inner-page dark-version">
    <!-- rts header area start -->
    <header class="header-one header--sticky">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header-main-wrapper">
                        <a href="index.html" class="logo">
                            <img src="assets/images/logo/01.svg" alt="logo">
                        </a>
                        <!-- nav -->
                        <div class="nav-area-main d-xl-block d-lg-block d-md-none d-sm-none d-none">
                            <nav>
                                <ul>
                                    <li class="has-dropdown">
                                        <a class="links-main" href="#">Home</a>
                                        <ul class="submenu">
                                            <li><a href="index.html">Content Writing 01</a></li>
                                            <li><a href="index-two.html">Content Writing 02</a></li>
                                            <li><a href="index-three.html">Content Writing 03</a></li>
                                            <li><a href="index-four.html">Ai Chat Bot</a></li>
                                            <li><a href="index-five.html">Voice Generator</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="links-main" href="use-case.html">Use Cases</a></li>
                                    <li class="has-dropdown mega-menu">
                                        <a class="links-main" href="#">Pages</a>
                                        <div class="rts-mega-menu">
                                            <div class="wrapper">
                                                <div class="row g-0">
                                                    <div class="col-lg-3">
                                                        <ul class="mega-menu-item">
                                                            <li>
                                                                <a href="about.html">
                                                                    <img src="assets/images/mega-menu/01.svg" alt="icon">
                                                                    <div class="info">
                                                                        <p>About OpenUp</p>
                                                                        <span>Get know about openup </span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="use-case.html">
                                                                    <img src="assets/images/mega-menu/02.svg" alt="icon">
                                                                    <div class="info">
                                                                        <p>Use Cases</p>
                                                                        <span>provide detailed explan</span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="pricing.html">
                                                                    <img src="assets/images/mega-menu/03.svg" alt="icon">
                                                                    <div class="info">
                                                                        <p>Pricing</p>
                                                                        <span>Openup provide pro price</span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="log-in.html">
                                                                    <img src="assets/images/mega-menu/04.svg" alt="icon">
                                                                    <div class="info">
                                                                        <p>Login</p>
                                                                        <span>Create content by ou</span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <ul class="mega-menu-item">
                                                            <li>
                                                                <a href="blog.html">
                                                                    <img src="assets/images/mega-menu/05.svg" alt="icon">
                                                                    <div class="info">
                                                                        <p>Blog</p>
                                                                        <span>Read openup artical</span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="case-details.html">
                                                                    <img src="assets/images/mega-menu/06.svg" alt="icon">
                                                                    <div class="info">
                                                                        <p>Use Cases Details</p>
                                                                        <span>provide detailed explan</span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="pricing-two.html">
                                                                    <img src="assets/images/mega-menu/07.svg" alt="icon">
                                                                    <div class="info">
                                                                        <p>Pricing 2</p>
                                                                        <span>Openup provide pro price</span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="registration.html">
                                                                    <img src="assets/images/mega-menu/08.svg" alt="icon">
                                                                    <div class="info">
                                                                        <p>Register</p>
                                                                        <span>Make your account</span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <ul class="mega-menu-item">
                                                            <li>
                                                                <a href="blog-details.html">
                                                                    <img src="assets/images/mega-menu/09.svg" alt="icon">
                                                                    <div class="info">
                                                                        <p>Blog Details</p>
                                                                        <span>Read openup artical</span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="use-case-2.html">
                                                                    <img src="assets/images/mega-menu/10.svg" alt="icon">
                                                                    <div class="info">
                                                                        <p>Use Cases 2</p>
                                                                        <span>provide detailed explan</span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="pricing-three.html">
                                                                    <img src="assets/images/mega-menu/11.svg" alt="icon">
                                                                    <div class="info">
                                                                        <p>Pricing 3</p>
                                                                        <span>Openup provide pro price</span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="reset.html">
                                                                    <img src="assets/images/mega-menu/12.svg" alt="icon">
                                                                    <div class="info">
                                                                        <p>Reset</p>
                                                                        <span>Rest your possword</span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <ul class="mega-menu-item">
                                                            <li>
                                                                <a href="contact.html">
                                                                    <img src="assets/images/mega-menu/13.svg" alt="icon">
                                                                    <div class="info">
                                                                        <p>Contact</p>
                                                                        <span>Contact with openup</span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="case-details-2.html">
                                                                    <img src="assets/images/mega-menu/14.svg" alt="icon">
                                                                    <div class="info">
                                                                        <p>Use Cases Details 2</p>
                                                                        <span>provide detailed explan</span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="faq.html">
                                                                    <img src="assets/images/mega-menu/15.svg" alt="icon">
                                                                    <div class="info">
                                                                        <p>FAQ</p>
                                                                        <span>Do you know openup</span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="404.html">
                                                                    <img src="assets/images/mega-menu/16.svg" alt="icon">
                                                                    <div class="info">
                                                                        <p>Error</p>
                                                                        <span>Back to home</span>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </li>
                                    <li><a class="links-main" href="feature.html">Feature</a></li>
                                    <li><a class="links-main" href="contact.html">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!-- nav end -->
                        <div class="button-area">
                            <a href="log-in.html" class="rts-btn btn-lonly mr--30">Sign in</a>
                            <a href="about.html" class="rts-btn btn-blur">Get Started</a>
                        </div>

                        <div class="menu-btn d-xl-none d-lg-none d-md-block d-sm-block" id="menu-btn">
                            <svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect y="14" width="20" height="2" fill="#1F1F25"></rect>
                                <rect y="7" width="20" height="2" fill="#1F1F25"></rect>
                                <rect width="20" height="2" fill="#1F1F25"></rect>
                            </svg>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- rts header area end -->


    <!-- rts breadcrumb area start-->
    <div class="rts-bread-crumb-area bg_image">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-inne">
                        <div class="title-area">
                            <h1 class="bread-title">Page Not Found</h1>
                            <div class="inner-wrapper">
                                <a href="index.html">Home</a>/
                                <a href="#" class="active">Page Not Found</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- rts breadcrumb area end -->


    <!-- rts not found area start -->
    <div class="rts-not-found-area rts-section-gap bg-smooth-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="thumbanail-404 text-center">
                        <img src="assets/images/case/03.png" alt="not-found">
                        <div class="wrapper-para mt--45">
                            <h3 class="title">Page Not Found</h3>
                            <p class="disc">
                                We're sorry, the page you requested could not be found <br> please go back to the homepage
                            </p>
                            <a href="#" class="rts-btn btn-primary">Back to Home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- rts not found area end -->


    <!-- cta area start -->
    <!-- cta area start -->
    <div class="rts-cta-area rts-section-gapBottom  bg_faq">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cta-main-wrapper bg_image">
                        <div class="left">
                            <h3 class="title">
                                All set to level up <br>
                                your content game?
                            </h3>
                            <a href="about.html" class="rts-btn btn-primary">Get Started Now</a>
                        </div>
                        <div class="right">
                            <img src="assets/images/cta/02.png" alt="cta-area">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- cta area end -->
    <!-- cta area end -->


    <!-- rts footer area start -->
    <div class="rts-footer-area  bg-footer footer-one">
        <div class="container rts-section-gapTop pb--100 pb_sm--30">
            <div class="row">
                <div class="col-lg-12">
                    <!-- footer main wrapper -->
                    <div class="footer-one-main-wrapper">
                        <!-- single sized  footer  -->
                        <div class="footer-singl-wized left-logo">
                            <div class="head">
                                <a href="#">
                                    <img src="assets/images/logo/01.svg" alt="logo">
                                </a>
                            </div>
                            <div class="body">
                                <p class="dsic">
                                    Openup is an artificial intelligence trained to automate important tasks such writing optimized product descriptions.
                                </p>
                                <div class="social-style-two">
                                    <ul>
                                        <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa-brands fa-behance"></i></a></li>
                                        <li><a href="#"><i class="fa-brands fa-discord"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- single sized  footer end -->
                        <!-- single sized  footer  -->
                        <div class="footer-singl-wized">
                            <div class="head">
                                <h6 class="title">Company</h6>
                            </div>
                            <div class="body">
                                <ul class="menu">
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="#">Community</a></li>
                                    <li><a href="#">Careers</a></li>
                                    <li><a href="#">Affiliate Program</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- single sized  footer end -->
                        <!-- single sized  footer  -->
                        <div class="footer-singl-wized">
                            <div class="head">
                                <h6 class="title">Use Cases</h6>
                            </div>
                            <div class="body">
                                <ul class="menu">
                                    <li><a href="#">For Teams</a></li>
                                    <li><a href="#">For Email Marketers</a></li>
                                    <li><a href="#">For Blog Writers</a></li>
                                    <li><a href="#">For social managers</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- single sized  footer end -->
                        <!-- single sized  footer  -->
                        <div class="footer-singl-wized input-area">
                            <div class="head">
                                <h6 class="title">News & Update</h6>
                            </div>
                            <div class="body">
                                <form action="">
                                    <div class="input-area-fill">
                                        <input type="email" placeholder="Enter Your Email" required>
                                        <button> Subscribe</button>
                                    </div>
                                </form>
                                <p class="disc">
                                    Subscribe our newsletter for future updates. don’t worry we don’t spam your email address
                                </p>
                            </div>
                        </div>
                        <!-- single sized  footer end -->
                    </div>
                    <!-- footer main wrapper end -->
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- footer-copyright-area start -->
                    <div class="copy-right-start-two">
                        <p><a href="https://reactheme.com/" target="_blank">Reactheme©</a> 2023. All Rights Reserved.</p>
                        <ul>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <!-- footer-copyright-area end -->
                </div>
            </div>
        </div>
    </div>
    <!-- rts footer area end -->


    <div id="anywhere-home" class="">
    </div>

    <!-- right switcher -->
    <div class="modal-sidebar-scroll rts-dark-light">
        <ul>
            <li><a href="https://themewant.com/products/html/openup/"><span>Light</span><i class="rts-go-dark fal fa-moon"></i></a></li>
            <li><a href="https://themewant.com/products/html/openup/dark-rtl"><span>RTL</span><i class="fa-solid fa-paragraph-left"></i></a></li>
        </ul>
    </div>
    <!-- right switcher end -->

    <!-- header style two -->
    <div id="side-bar" class="side-bar header-two">
        <button class="close-icon-menu"><i class="far fa-times"></i></button>

        <!-- mobile menu area start -->
        <div class="mobile-menu-main">
            <nav class="nav-main mainmenu-nav mt--30">
                <ul class="mainmenu metismenu" id="mobile-menu-active">
                    <li class="has-droupdown parent">
                        <a href="#" class="main">Home</a>
                        <ul class="submenu mm-collapse">
                            <li><a class="mobile-menu-link" href="index.html">Home One</a></li>
                            <li><a class="mobile-menu-link" href="index-two.html">Home Two</a></li>
                            <li><a class="mobile-menu-link" href="index-three.html">Home Three</a></li>
                            <li><a class="mobile-menu-link" href="index-four.html">Home Four</a></li>
                            <li><a class="mobile-menu-link" href="index-five.html">Home Five</a></li>
                        </ul>
                    </li>
                    <li class="has-droupdown parent">
                        <a href="#" class="main">Pages</a>
                        <ul class="submenu mm-collapse">
                            <li><a class="mobile-menu-link" href="about.html">About Us</a></li>
                            <li><a class="mobile-menu-link" href="blog.html">Blog</a></li>
                            <li><a class="mobile-menu-link" href="blog-details.html">Blog Details</a></li>
                            <li><a class="mobile-menu-link" href="contact.html">Contact</a></li>
                            <li><a class="mobile-menu-link" href="use-case.html">Use Case</a></li>
                            <li><a class="mobile-menu-link" href="use-case-2.html">Use Case 2</a></li>
                            <li><a class="mobile-menu-link" href="case-details.html">Use Case Details</a></li>
                            <li><a class="mobile-menu-link" href="case-details-2.html">Use Case Details</a></li>
                            <li><a class="mobile-menu-link" href="pricing.html">Pricing</a></li>
                            <li><a class="mobile-menu-link" href="pricing-two.html">Pricing Two</a></li>
                            <li><a class="mobile-menu-link" href="pricing-three.html">Pricing Three</a></li>
                            <li><a class="mobile-menu-link" href="faq.html">FAQ</a></li>
                            <li><a class="mobile-menu-link" href="log-in.html">Log In</a></li>
                            <li><a class="mobile-menu-link" href="registration.html">Registration</a></li>
                            <li><a class="mobile-menu-link" href="reset.html">Reset</a></li>
                            <li><a class="mobile-menu-link" href="404.html">Not Found</a></li>
                            <!-- <li class="has-droupdown third-lvl">
                                <a class="main" href="#">Project Details</a>
                                <ul class="submenu-third-lvl mm-collapse">
                                    <li><a href="project-details.html"></a>Project Details</li>
                                    <li><a href="project-details-gallery.html"></a>Project Details Gallery</li>
                                    <li><a href="project-details-vedio.html"></a>Project Details Vedio</li>
                                    <li><a href="project-details-carousel.html"></a>Project Details carousel</li>
                                </ul>
                            </li> -->
                        </ul>
                    </li>
                    <li class="parent">
                        <a href="feature.html" class="main">Feature</a>
                    </li>
                    <li class="parent">
                        <a href="contact.html" class="main">Contact</a>
                    </li>
                </ul>
            </nav>

            <div class="rts-social-style-one pl--20 mt--100">
                <ul>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- mobile menu area end -->
    </div>
    <!-- header style two End -->


    <!-- rts backto top start -->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;"></path>
        </svg>
    </div>
    <!-- rts backto top end -->


    <script src="{{url_for('static', filename='js/vendor/jquery.min.js')}}" defer></script>
    <script src="{{url_for('static', filename='js/vendor/metismenu.js')}}" defer></script>
    <script src="{{url_for('static', filename='js/plugins/bootstrap.min.js')}}" defer></script>
    <script src="{{url_for('static', filename='js/plugins/swiper.js')}}" defer></script>
    <script src="{{url_for('static', filename='js/plugins/contact.form.js')}}" defer></script>
    <script src="{{url_for('static', filename='js/main.js')}}" defer></script>

</body>

</html>