{% extends 'base.html' %}

{% block content %}
{% for message in get_flashed_messages() %}
<p>{{ message }}</p>
{% endfor %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="form-signin w-100" style="max-width: 350px;">
        <!-- Your form content -->
        <div class="centered-form-container">
            <div class="form-signin">
                <form action="{{ url_for('login')}}" method="post">
                    <h1 class="h3 mb-3 fw-normal text-center">Sign In</h1>
                    {{ form.hidden_tag() }}
                    <div class="form-floating mb-3">
                        {{ form.email(class="form-control") }}
                      <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating mb-3">
                        {{ form.password(class="form-control") }}
                      <label for="floatingPassword" >Password</label>
                    </div>
                      <!-- Forgot your password link---->
                      <div class="mb-3">
                        <a href="#" class="text-color">Forgot your password?</a>
                      </div>
                      {{ form.submit(class="w-100 btn btn-lg button-color") }}
                    <div class="mt-4 text-center">
                        Don't have an account? <a href="{{url_for('register')}}" class="text-color">Sign Up</a>
                      </div>
                      
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}